<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="iooogik.app.modelling">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="iooogik.app.modelling.Contacts"></activity>
        <activity
            android:name="iooogik.app.modelling.ScrollingArticle"
            android:label="@string/title_activity_scrolling_article"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name="iooogik.app.modelling.NotificationReceiver" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity android:name="iooogik.app.modelling.StandartNote" />
        <activity android:name="iooogik.app.modelling.QR_Demo" />
        <activity android:name="iooogik.app.modelling.ARcamera" />
        <activity android:name="iooogik.app.modelling.Notes" />
        <activity android:name="iooogik.app.modelling.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="iooogik.app.modelling.BarcodeCaptureActivity"
            android:label="Read Barcode" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>