<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="iooojik.app.modelling">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight"

        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".contacts.Contacts" />
        <activity
            android:name=".astonomy.ScrollingArticle"
            android:label="@string/title_activity_scrolling_article"
            android:theme="@style/AppThemeLight" />
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity android:name=".notes.StandartNote" />
        <activity android:name=".ARcamera" />
        <activity android:name=".notes.Notes" />

        <activity android:name=".astonomy.Planets"/>
        <activity
            android:name=".qr.BarcodeCaptureActivity"
            android:label="Read Barcode" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".NotificationReceiver" android:enabled="true"/>

    </application>

</manifest>