<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="iooojik.app.klass">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_plugin"
        android:theme="@style/AppThemeLight"
        android:windowSoftInputMode="stateVisible|adjustResize"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="iooojik.app.klass.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="iooojik.app.klass.astronomy.ScrollingArticle"
            android:theme="@style/AppThemeLight" />
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity android:name="iooojik.app.klass.notes.StandartNote" />
        <activity android:name="iooojik.app.klass.ar.ARcamera" />
        <activity android:name="iooojik.app.klass.notes.Notes" />

        <activity android:name="iooojik.app.klass.astronomy.Planets"/>
        <activity
            android:name="iooojik.app.klass.qr.BarcodeCaptureActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name="iooojik.app.klass.NotificationReceiver" android:enabled="true"/>

    </application>

</manifest>